body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img {
    height: 150px;
    width: 210px;
    aspect-ratio: auto;
  }
  
  .listmain {
    width: 750px;
    margin: auto;
  }
  
  .listmain li {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;
  }
  
  .recipecard {
    width: 1885px;
  }
    
  .imgresize {
    height: auto;
    width: 400px;
  }

  .container {
    display: inline-block;
    width: 1400px;
    vertical-align: top;
    margin-top: -24px;
    margin-left: 20px;
  }
   
  .listnone {
    list-style: none;
  }
  
  
  .liststyle {
    list-style: decimal inside;
  }